

*{margin: 0px; padding: 0px; cursor:default;}
input,button{outline: none;}
a{text-decoration: none;}
body{background:#050f2c;}

#publitop {
	background-color: transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
}

#publiizda, #publidcha {
	display: none;
	background-color: transparent;
	position: absolute;
	top: 0px;
	margin: 0;
}




#publiizda {
	left: 0px;
}
#publidcha {
	right: 0px;
}

#publiizda img, #publidcha img, #publiabajo img, #publitop img {
	width: 94%;
	cursor:pointer;
}

#contenedor{
	position:relative;
	background:#050f2c;
	margin:0 auto;
	opacity:0;
	box-sizing:border-box;
	transition:opacity 1s;
	-webkit-transition:opacity 1s;
	margin-top: 6%;
}

header{
	margin-bottom: 5%;
	color:#ffffff;
	font-family: 'jellyregular';
	font-size: 65px;
	text-align: center;
	line-height: 90%;
}
header span{
	color:#ffffff;
	font-family: 'jellyregular';
}


#entradadatos{
	text-align: center;
}
#entradadatos>p{
	background-color: transparent; color:#ddd;
	margin-bottom: 20px;
	font-family: 'kurzetstypekurzetstype';
	font-size: 90px;
}
#num1,#num2{
	background-color: #111; color:#ddd;
	border: none;
	border-radius: 4px;
	font-family: 'kurzetstypekurzetstype';
	font-size: 90px;
	text-align: center;
}
#num1{width: 320px;}
#num2{width: 220px;}
#num1:focus,#num2:focus{background-color: #222;}
#entradadatos>p>button{
	position:relative;
	height: 101px; width: 101px;
	background-color: #4DB84D; color:#eee;
	border: none;
	font-family: 'jellyregular';
	font-size:20px;
	transform:rotate(5deg);
	-webkit-transform:rotate(15deg);
}
#entradadatos>p>button:hover{background-color: #348234;}
#entradadatos>p>button:disabled{background-color: #333;color:#555;}

#datos{font-size: 14px;}

.caja, .caja2,.caja3,.caja4{
	position: absolute;
	text-align: center;
	font-family: 'kurzetstypekurzetstype';
}
.caja{color: #FF3333;}
.caja2{color: #66FF66;}
.caja3{color: #6666FF;}
.caja4{color: #FFFF66;}

.ra{border-bottom: white 2px solid;}

.botonenlace{
	float:left;
	background-color:#66FF66;color:#eee;
	width:40%; height: 40%;
	margin-top: 6.7%;
	margin-left: 6.7%;
	border-radius: 15%;
	text-align: center;
	font-family: 'jellyregular';
	cursor:pointer;
}
a:nth-child(1)>.botonenlace{background-color: #FF3333;}
a:nth-child(2)>.botonenlace{background-color: #66FF66;}
.botonenlace:hover{opacity:0.7;}

#display{
	box-sizing:border-box;
	background-color: #00205b; color:#FFFF66;
	text-align: right;
	margin-left: auto; margin-right: auto; margin-bottom: 5%;
	width: 95%;
	padding-right: 2%;
	padding-top:2%;
	font-family: 'kurzetstypekurzetstype';
	overflow: hidden;
}

#dondetodosucede{
	position:relative;
	background-color: #151;
	margin-left: auto; margin-right: auto;
	overflow: hidden;
}
#teclado{
	position:absolute;
	top:0px;
	background-color:#000;
	width: 100%; height: 100%;
	transition:top 0.5s;
	-webkit-transition:top 0.5s;
}

#teclado button{
	float: left;
	height: 20%;
	box-sizing: border-box;
	text-align: center;
	padding-top: 2%;
	cursor:pointer;
	font-family: 'jellyregular';
	color:#000;
}
#teclado button:disabled{background-color: #0099e5}

#tpan{width: 40%;background-color: #efdf00;border:2px solid #000;font-size: 0.5em}
#tcal{width: 60%;background-color: #66FF66;border:2px solid #000;font-size: inherit}
#tmas,#tmen,#tpor,#tdiv,#tdive,#tc,#tdel{width: 20%;background-color: #efdf00;border:2px solid #000;font-size: inherit}
#tpri,#trai{width: 20%;background-color: #66FF66;border:2px solid #000;font-size: inherit}
#t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t9,#tcom{width: 20%;background-color: #34bf49;border:2px solid #000;font-size: inherit}
#t0{width: 40%;background-color: #34bf49;border:2px solid #000;font-size: inherit}

#atwitter{
	display: inline-block;
	position: relative;
	color: #ddd;
	cursor: pointer
}
#atwitter:hover{color:#FF5C33;}

#salida{
	position:absolute;
	top:-100%;
	background-color:#111;
	width: 100%; height: 100%;
	transition:top 0.5s;
	-webkit-transition:top 0.5s;
		box-sizing:border-box;
	overflow: hidden;
}
#divvolver{
	position:absolute;
	top:-100%;
	background-color:transparent;
	width: 100%; height: 79%;
	transition:top 0.5s;
	-webkit-transition:top 0.5s;
		box-sizing:border-box;
	/*overflow: hidden;*/
	cursor: pointer;
}

#salida p,#salida span{
	color:#FFFF66;
	font-family: 'kurzetstypekurzetstype';
	font-size:30px;
}

#volver{
	display: inline-block;
	position: absolute;
	bottom: -27%;
    font-family: 'arrow_7regular';
    box-sizing: border-box;
    border:none;
    color:rgba(255,255,255,0.15);
    background-color: rgba(255,255,255,0.01);
    text-align: center;
    cursor: pointer;
}

#botexp, #botnor{
	display: none;
	position: absolute;
	bottom: -27%; right: 0px;
	text-align: center;
    font-family: 'jellyregular';
    box-sizing: border-box;
	width: 50%; height: 27%;
    border:none;
    color:rgba(255,255,255,0.15);
    background-color: rgba(255,255,255,0.01);
    text-align: center;
    cursor: pointer;	
}

.perror{
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

#datos{
	position: fixed;
	top:0px; left: 0px;
	background-color: white;
}